/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  /* height: 100%; */
  width: 100%;
  font-size: 14px;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*------------------------------------------------*/
[class*='__container'] {
  width: clamp(100px, 90vw, 1170px);
  margin: 0 auto;
}

[class*='-row'] {
  display: flex;
}
[class*='-column'] {
  display: flex;
  flex-direction: column;
}
.wrapper-column {
  height: 100%;
}
.main-column {
  flex: 1 1 auto;
}
/*--------------------------------------------------------*/
.button-red {
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
	font-size: 16px;
  background-color: #e6514a;
  color: #fff;
}
.button-red:hover {
  background-color: #be312b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  /* display: block; */
}
.description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc((21 / 14) * 100%);
}
/*------------------------HEADER--------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 10px #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.header__container {
  /* max-width: 768px; <============ */
  margin: 0 auto;
  position: relative;
}
.header__logo {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 24px;
  letter-spacing: 3.5px;
  font-weight: 700;
  color: #e6514a;
}

.header__content-column {
}
.header__content:first-child {
}
.contacts-row {
  justify-content: space-between;
  padding: 0 0 5px;
  box-shadow: 0px 1px 1px #ddd;
}
.contacts__media-row {
  flex: 1 1;
  max-width: 80px;
  justify-content: space-between;
}
.contacts__media-row a {
}
.contacts__media-row a img {
}

.contacts__phone-row {
}
.contacts__phone-row div {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 15px 0 0;
}
.contacts__phone-row div:last-child {
  margin: 0;
}
.contacts__phone-row div img {
}
.contacts__phone-row div a {
  color: black;
  font-size: 16px;
}

.header__links-row {
  padding: 5px 0 0;
  justify-content: end;
  align-items: center;
}
.header__nav-list-row {
}
.header__nav-list-row li {
  margin: 0 5px;
}
.header__nav-list-row li a {
  color: #000;
}
.header__nav-list-row li a:hover {
  color: rgb(0, 15, 228);
}
.header__getcall {
  border-radius: 50px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}
.header__getcall span {
  padding: 0 0 0 5px;
}
.header__burger {
  display: none;
}

@media (max-width: 867px) {
  .header {
  }
  .header__head {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }
  .header__logo {
    position: relative;
    top: 0;
    left: 0;
    color: #e6514a;
    font-size: 28px;
    line-height: 35px;
  }
  .header__cantainer {
    max-width: 100%;
  }
  .header__content-column {
    position: fixed;
    top: -100%;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    z-index: -1;
    transition: top 0.3s ease;

    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 40px 0 10px;
  }
  .contacts__media-row {
    margin: 0 auto;
  }
  .header__links-row {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .header__nav-list-row {
    flex-direction: column;
  }
  .header__nav-list-row li {
    margin: 5px 0;
  }
  .header__getcall {
    margin: 5px auto 25px;
  }
  .contacts-row {
    flex-direction: column-reverse;
    margin: 10px 0;
  }
  .contacts__phone-row {
    flex-direction: column;
    margin: 0 auto;
  }
  .contacts__phone-row div {
  }
  .header__burger {
    z-index: 15;
    display: block;
    position: relative;
    transform: translate(0, 50%);
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #000;
    transition: 0.3s ease;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__content-column._active {
    top: 0;
  }
}

/*--------------------------------------------------------*/
/*-------------------------MAIN--------------------------*/

.main-column {
  padding: 0 10px;
}
.start__container-row {
  margin: 0px auto 0px;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.start__text {
}
.start__text p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc((24 / 16) * 100%);
  color: #3035c3;
  margin: 0 0 20px;
}
.start__text h1 {
  font-size: 40px;
  line-height: 100%;
  margin: 0 0 25px;
}
.start__text h1 span {
  color: #e6514a;
}
.start__text button {
  border-radius: 50px;
  font-size: 18px;
  padding: 5px 20px;
}

.start__pic {
  flex: 0 0 50%;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #aaa;
}
.start__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .start__container-row {
    flex-direction: column;
    display: block;
    margin: 100px auto 50px;
    align-items: center;
  }
  .start__text {
    text-align: center;
    margin: 0 0 25px;
  }
  .start__text p {
    font-size: 20px;
  }
  .start__text button {
    border-radius: 50px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
  }
  .start__pic {
    width: 100%;
  }
}

/*===Sections===*/
.section {
  border: 1px solid rgb(238, 135, 0);
  /* width: 100%; */
  margin: 50px auto 100px;
  text-align: center;
  position: relative;
}
.subtitle {
  font-family: 'Lato', sans-serif;
	text-transform:uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  transform: translateX(+25px);
  position: relative;
}
.subtitle::before {
  content: '';
  height: 1px;
  width: 50px;
  background-color: #e66;
  position: absolute;
  top: 50%;
  transform: translate(-60px, -0%);
}
.title {
  font-size: 42px;
	line-height: 130%;
  
}
/*========Greatings=======*/
.greatings {
  width: 100%;
  padding: 0 0 50px 0;
}
.greatings__video {
  background-color: #777;
  margin: 0 auto;
  aspect-ratio: 1.7;
  width: clamp(200px, 80vw, 600px);
  border-radius: 25px;
  overflow: hidden;
}
.greatings__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background-color: #af7; */
  height: 150px;
  width: 100%;
}
.greatings__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*=======Programs======*/

@media (max-width: 500px){
.programs__list-row {
	flex-wrap: no-wrap;
	overflow:scroll;
	gap:20px;
	}
	.programs__program-column {
  padding: 1%;
	min-width: 250px;
	}
}
@media (min-width: 501px){
	.programs__list-row {
	flex-wrap: wrap;
	flex: 1 1 20%;
	gap:20px;
	}

	.programs__program-column {
  padding: 1%;
  flex: 1 0 45%;
	}
}
.programs__list-row {
	flex-wrap: no-wrap;
	gap:15px;
}
@media (min-width: 900px){
	.programs__program-column {
	padding: 1%;
  flex: 1 1 20%;
	}
}
.programs__program-column {
	border: 1px solid #eee;
	border-radius: 5px;
	}
.programs__program-column:hover {
  box-shadow: 0px 5px 5px #ccc;
}
.program__title {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
  flex: 1 0 auto;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
}
.program__price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: calc((22 / 18) * 100%);
  color: #3035c3;
  margin: 0 0 15px;
  flex: 1 0;
}
.program__price span {
  font-size: 2em;
}
.program__description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  flex: 0 1 auto;
}
.program__advantages-list {
  text-align: left;
  flex: 1 1 auto;
  margin: 15px 0;
}
.program__advantages-list li {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 0 5px 25px;
}
.program__advantages-list li::before {
  content: url(./img/Check.png);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}
.program__getit {
}
.program__getit button {
  padding: 5px;
  width: 90%;
  font-size: 20px;
  border-radius: 50px;
}
.program__getit a {
  display: block;
  color: #00f;
  font-size: 14px;
  margin: 5px;
}

/*===Licension===*/
.licension__container {
  position: relative;
}
.licension__area {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: -1;
  background: linear-gradient(45deg, #33f, #66f);
  border-radius: 25px;
}
.licension-row {
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
	gap: clamp(20px, 4vw,80px);
}
.licension-row img {
  max-width: 40%;
}
.licension-column {
  color: #fff;
  text-align: left;
}
.licension-column h2 {
	font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: clamp(24px, 3vw, 32px);
	line-height: 130%;
  margin: 0 0 25px;
}
.licension-column p {
  margin: 0 0 32px;
	line-height: 150%;
}
.licension-column button {
  width: fit-content;
  padding: 16px clamp(24px, 5vw, 60px);
  border-radius: 50px;
}

@media (max-width: 768px){
	.licension__area {
  height: 90%;
  bottom: 0;
  transform: translate(0, -45%);
}
	.licension-row {
	flex-direction: column;
	padding: 0 36px;
	margin-bottom: 50px;
	}
	.licension-row img {
  min-width: 90%;
	}
	.licension-column p {
  margin-bottom: 32px;
	}
	
	.licension-column button {
		width: 100%;
	}
}


/*===Partners===*/
.partners__container {
}
.partners__container p {
}
.partners__container h2 {
}
.partners-row {
  width: 100%;
  gap: clamp(15px, 2vw, 50px);
  /*overflow: hidden;*/
}
.partners-row img {
  flex: 1 1;
	width: 5%;
}
@media (max-width:1000px){
	.partners-row {
  gap:50px;
  overflow: scroll;
	}
.partners-row img {
  width: auto;
	}
}

/*===Subscribe===*/
.subsribe__container {
}
.subscribe__pic {
  border-radius: 25px;
}
.subscribe__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscibe__content-row {
  background: url('https://raw.githubusercontent.com/kilativ147/Dialog/fa142d09e36d02e634bb5654ba0163a75bb4ae0a/img/Rectangle%2068.png')
    center/cover no-repeat;
  align-items: center;
  gap: clamp(32px, 10vw, 200px);
  padding: 100px 70px;
  border-radius: 25px;
}
.subscibe__content-row h3 {
  color: #fff;
	font-size: 36px;
	line-height: 130%;
  text-align: left;
}
.subscibe__content-row button {
  font-size: 20px;
  padding: 16px 60px;
  border-radius: 50px;
}
@media (max-width:1000px){
	.subscibe__content-row {
		flex-direction: column;
		padding: 60px 28px;
	}
	.subscibe__content-row h3 {
		text-align: center;
		font-size: 24px;
	}
}
	
/*========Curriculum=========*/
.curriculum{
	background-color: #F8F8FF;
	padding: 80px 0;
}
.curriculum__container{
	margin: 0 auto;
}
.curriculum__content{
	margin: 0 100px;
}
.curriculum__list-levels-row{
	justify-content: space-between;
	margin: 50px 0;
}
.curriculum__levels{
	font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #3035C4;
opacity: 0.5;
cursor: pointer;
}
.curriculum__levels:hover{
	opacity:1;
}
.curriculum__levels._active{
	opacity: 1;
}
.curriculum__levels._active{
color: #E6514A;
position:relative;
}
.curriculum__levels._active span{
display:inline-block;
}
.curriculum__levels span{
	display: none;
}
.curriculum__levels._active::after{
	content:'';
	position:absolute;
	bottom: 0;
	left:0;
	transform: translate(0, 20px);
	width:100%;
	height:3px;
	background-color:#E6514A;
}

.curriculum-cards-row{
	align-items: center;
	position: relative;
}
.curriculum-cards_button{
	position: absolute;
	width: 56px;
	height: 56px;
	top: 50%;
	
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
.curriculum-cards_button:hover{
	background-color: #3035C4;
}
.curriculum-cards_button img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 30%;
}
.button__prev{
	left: 0;
	transform: translate(calc(-44px - 100%), -50%);
}
.button__next{
	right: 0;
	transform: translate(calc(44px + 100%), -50%) rotate(180deg);
}


.curriculum__list-cards{
padding: 48px 52px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
}
.curriculum-card__area{}
.curriculum-card__area h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-weight: 800;
	font-size: 24px;
	line-height: 130%;
	color: #3035C4;
}
.curriculum-card__area > p{
	text-align: justify;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #23283B;
	margin: 24px 0 48px 0;
}
.curriculum-stats-row{
	justify-content: space-between;
	
}

.curriculum-card__about{
	flex: 1 0 15%;
	max-width: 30%;
	text-align: left;
}
.curriculum-stats-row h4{
	text-transform: uppercase;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 130%;
	color: #23283B;
	margin-bottom: 24px;
}
.curriculum-card__about-list{}
.curriculum-card__about-list li:not(:last-child){
	padding-bottom: 16px;
}
.curriculum-card__about-list li{
	position: relative;
	padding: 0 0 0 25px;
}
.curriculum-card__about-list li::before{
	content: url(https://raw.githubusercontent.com/kilativ147/Dialog/main/img/Check.png);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 15%); 
}
.curriculum-card__about-list li p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #23283B;
}
.curriculum-card__about-list li p span{
font-weight: 800;
}
.curriculum-card__about-list li p:last-child{
	font-size:12px;
}
		
.curriculum-card__structure{
		flex: 1 1 15%;
		max-width: 30%;
		text-align: left;
	}
.curriculum-card__structure-list{}
.curriculum-card__structure-list li{}
.curriculum-card__structure-list li p {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		padding-bottom: 8px;
		color: #23283B;
}
.curriculum-card__structure-list li:not(:last-child) {
	margin-bottom: 16px;
}
.curriculum-card__structure-list li p span{
	font-weight: 800;
	color: #E6514A;
}
.curriculum-card__structure-list li div{
	background: #DEDEFF;
	border-radius: 10px;
	width: 100%;
	height: 4px;
	position: relative;
}
.curriculum-card__structure-list li div::before{
	content:'';
	position: absolute;
	height: 4px;
	background: #E6514A;
	border-radius: 10px;
}
.curriculum-card__structure-list li:nth-child(1) div::before{
	width: 40%;
}
.curriculum-card__structure-list li:nth-child(2) div::before{
	width: 20%;
}
.curriculum-card__structure-list li:nth-child(3) div::before{
	width: 20%;
}
.curriculum-card__structure-list li:nth-child(4) div::before{
	width: 10%;
}
.curriculum-card__structure-list li:nth-child(5) div::before{
	width: 10%;
}

.structure__scale:nth-child(2)::before{
	
}
.curriculum-card__materials{
	flex: 1 1  15%;
	max-width: 30%;
	text-align: left;
}
.curriculum-card__materials img{}
	
/*==========Mentors===========*/
.mentors__container{
	overflow: hidden;
}
.mentors__content-row{
	gap: 50px;
}
.mentor-column{
	flex: 0 0;
	min-width: 300px;
}
.mentor__avatar{
	border-radius: 12px;
	width: 100%;
	max-height: 210px;
	overflow: hidden;
	margin-bottom: 45px;
}
.mentor__avatar img{
	width:100%;
	height: 100%;
	object-fit: cover;
}
.mentor-column p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #23283B;
}
.mentor-column p:not(:last-child){
	margin-bottom: 30px;
}
.mentor-column p span{
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #3035C4;
}

.mentors__switcher-row{
	margin: 50px auto 20px;
	width: 100%;
	justify-content: center;
	gap: 20px;
	cursor: pointer;
}
.mentors__switch{
	border-radius:50%;
	width: 8px;
	height: 8px;
	background: #DEDEFF;
}
.mentors__switch:hover{
	background: #3035C4;
}
.mentors__switch._active{
	background: #E6514A;
}

/*=========How Start========*/
.howstart__container{
}
.howstart__content{
	position: relative;
	padding: 80px 70px;
	color: #fff;
	text-align: left;
	box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
	border-radius: 20px;
	overflow: hidden;
}
.howstart__content img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.howstart__content div{
	max-width:500px;
}
.howstart__content p{
	margin-bottom: 20px;
	text-transform: none;
}
.howstart__content h2{
	margin-bottom: 40px;
}
.howstart__content ol{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/*text-indent: 11px;*/
	white-space: pre-line;
	counter-reset: section;	/* Устанавливает значение счётчика, равным 0 */
	list-style-type: none; /*Удалить стандартний номерац*/
}
.howstart__content ol li{position: relative; padding-left: 24px;}
.howstart__content ol li::before{
	counter-increment: section;
	content: counter(section) '. ';
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 24px;
	line-height: 150%;
	color: #E6514A;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0px, -6px);
}	
/*=======Advantsges======*/
.advantages__container{}
.advantages__content-row{
	margin: 80px 0;
	justify-content:space-evenly;
}
.advantage-column{
	max-width: 200px;
	align-items: center;
}
.advantage__image{
	width: 120px;
	geight: 120px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
	margin-bottom: 20px;
}
.advantage__image img{
	width: 100%;
	height: 100%;
}
.advantage-column p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}
.advantage-column p:not(:last-child){margin-bottom: 12px;}
.advantage-column p span{
	font-weight: 800;
	font-size: 18px;
}
.advantages__container button{
	padding: 16px 60px;
	border-radius: 50px;
}
/*======Questions=======*/

.questions{
	position: relative;
	width: 100%;
	padding: 100px 0px;
}
.questions img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -1;
}
.questions__container-row{
	justify-content: space-between;
	align-items: center;
}
.question__text{
	max-width: 600px;
}
.question__text h2{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 130%;
	color: #fff;
	margin-bottom: 30px;
}
.question__text p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
}
.questions__container-row button{
	padding: 16px 60px;
	border-radius: 50px;
}


/*==========Footer======*/
.footer{
	background: #3035C3;
	padding: 60px 0 0px;
}
.footer__container{}

.footer__content-row{
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid #aaa;
}
.footer__info-column{
	max-width: 200px;
}
.footer__info-column h2{
	color: #E6514A;
	font-size: 22px;
	line-height: 130%;
	margin-bottom:25px;
}
.footer__info-column p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #fff;
	margin-bottom:25px;
}

.footer__about-row{
	justify-content: space-between;
	width: 500px;
}
.footer__about-column{
	flex: 1 1;
}
.footer__about-column a{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	color: #fff;
}
.footer__about-column a:not(:last-child){
		margin-bottom:25px;
}
.footer__about-column a:hover{
	color: #E6514A;
}
							

					
.footer__contacnts{}
.footer__contacnts p{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	margin-bottom:12px;
	color: #fff;
}
.footer__contacnts span{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	display:block;
	margin-bottom:24px;
}
						
.footer__contacts_phones{}
.footer__contacts_phones div{
	margin-bottom:12px;
}
.footer__contacts_phones div img{}
.footer__contacts_phones div a{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #fff;
}
.footer__media-row{
	justify-content: space-between;
	padding: 20px 0;
}


.footer__media-social{
	
}
.footer__media-social a:not(:last-child) {
	margin-right:25px;
}
.footer__media-social a img{}
.footer__media-privacy a{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #fff;
	margin-left: 25px;
	position: relative;
	/*padding-bottom: 10px;*/
	/*margin-bottom: 10px;*/
}

.footer__media-privacy a:hover::after{
	/*text-decoration: underline;*/
	content: '';
	position: absolute;
	bottom: -1px;
	right: 0;
	display:block;
	width: 100%;
	height: 1px;
	background: #fff;
}





.hidden {
  /*display: none;*/
}
